/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  .app-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    // align-items: center;
  }
  
  .app-search {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .app-search input{
    width:520px;
  }
  .app-search__container {
      display: flex;
  }
  .app-search__button-container {
      display: flex;
  }