/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

.app-container {
  display: flex;
  padding: 20px;
}

.app-search {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* .image {
	width: 300px;
	height: 300px;
} */